[submodule "themes/aircloud"]
	path = themes/aircloud
	url = https://github.com/shrinktofit/hexo-theme-aircloud.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
